<!DOCTYPE html>
<html lang="en">
<head>
    <title> YBA </title>
    <link rel="stylesheet" type="text/css" href="/CSS/months.css">
</head>
<body>
    <div class="container">
        <div class="box" id="winter">
            <h3> <a href="/users/months/january"> January </a> </h3>
        </div>

        <div class="box" id="spring">
            <h3> <a href="/users/months/february"> February </a> </h3>
        </div>

        <div class="box" id="summer">
            <h3> <a href="/users/months/march"> March </a> </h3>
        </div>

        <div class="box" id="fall">
            <h3> <a href="/users/months/april"> April </a> </h3>
        </div>
    </div>
    <div class="container">
        <div class="box" id="winter">
            <h3> <a href="/users/months/may"> May </a> </h3>
        </div>

        <div class="box" id="spring">
            <h3> <a href="/users/months/june"> June </a> </h3>
        </div>

        <div class="box" id="summer">
            <h3> <a href="/users/months/july"> July </a> </h3>
        </div>

        <div class="box" id="fall">
            <h3> <a href="/users/months/august"> August </a> </h3>
        </div>
    </div>
    <div class="container">
        <div class="box" id="winter">
            <h3> <a href="/users/months/september"> September </a> </h3>
        </div>

        <div class="box" id="spring">
            <h3> <a href="/users/months/october"> October </a> </h3>
        </div>

        <div class="box" id="summer">
            <h3> <a href="/users/months/november"> November </a> </h3>
        </div>

        <div class="box" id="fall">
            <h3> <a href="/users/months/december"> December </a> </h3>
        </div>
    </div>

    <button type="button" style="margin-top: 100px;"> <a href="/users/menu"> Back </a> </button>
</body>
</html>