<!DOCTYPE html>
<html lang="en">
<head>
    <title> YBA </title>
    <link rel="stylesheet" type="text/css" href="/CSS/receipt.css">
</head>
<body>
    <h1> Delete income </h1>

    <form id="deletein" action="/users/deletein" method="post">
        <div id="container">
            <div class="box">
                <input type="text" id="id" name="id" placeholder="Enter ID">
            </div>
        </div>

        <button type="submit" id="deletein"> Delete </button>
    </form>

    <button type="button" style="margin-top: 100px;"> <a href="/users/month"> Back </a> </button>    
</body>
</html>