<!DOCTYPE html>
<html lang="en">
<head>
    <title> YBA </title>
    <link rel="stylesheet" type="text/css" href="/CSS/receipt.css">
</head>
<body>
    <h1> Add receipt </h1>

    <div>
        <ul>
            <% if (typeof errors != 'undefined') { %>
                <% errors.forEach (error => { %>
                    <li> <%= error.message %> </li>
                <% }) %>
            <% } %>
        </ul>
    </div>

    <form id="out" action="/users/receipt" method="post">
        <div class="box">
            <input type="name" id="source" name="source" placeholder="Where did you shop?">
        </div>

        <div id="container">
            <ul class="box">
                <li> <input type="name" id="matter" name="matter" placeholder="What did you buy?">
                <input type="name" id="category" name="category" placeholder="What category is it?">
                <input type="name" id="price" name="price" placeholder="How much did it cost?"> </li>
            </ul>
        </div>
        
        <button type="submit" form="out"> Register </button>
    </form>

    <button type="button" style="margin-top: 50px;"> <a href="/users/receipt/addfive"> Add 5 </a> </button>
    <button type="button" style="margin-top: 25px;"> <a href="/users/receipt/addten"> Add 10 </a> </button>
    
    <button type="button" style="margin-top: 100px;"> <a href="/users/month"> Back </a> </button>
</body>
</html>