body {
    background: #262b2f;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 20px;
    color: #f0e68c;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    text-decoration: none;
    color: #f0e68c;
}

input{
    background: #262b2f;
    color: #f0e68c;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #f0e68c;
    margin: 10px;
}

input:focus{
    outline: none;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #21282b;
    color: #f0e68c;
    font-size: 25px;
}

#container {
    display: flex;
}

.box {
    font-family: Book Antiqua;
    text-align: center;
    font-size: 30px;

    color: #f0e68c;
    background: #262b2f;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    list-style: none;
    margin: 40px 0px 100px 0px;    
    width: 100%;
}